body {
	font-family: 'Roboto', sans-serif;
}

.variable-row {
	padding-top: 20px;
	padding-bottom: 20px;
}

.slider-col {
	padding-top: 6px;
}

.variable-name {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

#reload-row {
	padding-top: 20px;
	padding-left: 20px;
}

#sidebar {
	background-color: #B0BEC5;
	color: black;
}

#filling-row {
	height: 700px;
}
