body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin-left: 20px;
	color: white;
}

.variable-row {
	padding-top: 20px;
	padding-bottom: 20px;
}

.slider-col {
	padding-top: 6px;
}

.variable-name {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

#reload-row {
	padding-top: 20px;
	padding-left: 20px;
}

#sidebar {
	color: black;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
}

#filling-row {
	height: 700px;
}
